
body {
    background-color: #2A2A2A;
    background-image: url(/assets/sobre.png);
    background-size: 7095px x 519px;
    background-size: cover;
    background-repeat: no-repeat; 
    
}

.painel-geral {
    width: 100%;
    display: flex;
}

.painel-direito {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    margin-right: 50px;
    margin-left: 500px;
    border-width: 2px;
    border-style: solid;
    border-color: aliceblue;
    border-radius: 8px;
    padding: 40px;
    padding-bottom: 50px;
    background-color: #2a2a2a;
    
}

.painel-esquerdo {
    width: 60%;
    margin-left: 40px;
    display: flex;
    width: 40%;
    flex-direction: column;
}

h1 {
    text-decoration: underline;
    font-size: 40px;
}

.logo-fundo {
    width: 250px;
    height: 250px;
}